---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
const images = await Astro.glob("/src/assets/images/galleri/*").then((files) => {
  return files.map((file) => file.default);
});
---

<MainLayout title="Titel">
  <!-- HERO SEKTION -->
  <section id="hero" class="grid md:grid-cols-1 lg:grid-cols-2 relative max-w-screen-xl mx-auto px-8 xl:px-16 lg:pt-24">
    <!-- På mobil vises dette under billedet -->
    <div class="order-2 md:order-1 pb-48 lg:pb-20 relative z-10 flex flex-col justify-center">
      <p class="text-black text-8xl md:text-8xl lg:text-7xl mb-4 animate__animated animate__fadeInLeftBig whitespace-nowrap">Creative Digital Designer</p>
      <div class="text-black md:text-base animate__animated animate__fadeInLeftBig whitespace-nowrap max-w-md">
        <p class="text-3xl pb-4 font-medium">Hi, my name is Maria, but feel free to call me Rose.</p>
        <p class="pt-4 pb-8 text-l">
          I am currently in my third semester at KEA, which particularly focuses on <br /> digital design, UI, and UX. I am passionate about turning creative ideas <br />into engaging solutions with Figma, Adobe tools, and web technologies.
        </p>
      </div>
      <a href="#competencies" class="animate__animated animate__fadeInLeftBig" style="transition: transform 0.3s ease; display: inline-block; border: 2px solid black; text-align: center; padding: 8px 16px; border-radius: 4px; color: black; max-width: 250px; overflow: hidden; text-overflow: ellipsis;" onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';"> EXPLORE MY COMPETENCIES </a>
    </div>
    <!-- På mobil vises billedet først -->
    <div class="order-1 md:order-2 relative overflow-hidden pb-44">
      <img src="public/mig_kort.jpg" alt="Billede af Maria Rose Andersen" class="object-cover h-[300px] md:h-full w-full lg:w-full animate__animated animate__fadeInRightBig rounded-xl pb-11" />
    </div>
  </section>

  <a href="#competencies" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex items-center justify-center cursor-pointer lg:pt-8 z-50">
    <div class="w-12 h-12 flex items-center justify-center border-2 border-black rounded-full hover-button animate__animated animate__fadeInUp">
      <svg class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
  </a>

  <section id="competencies" class="p-8 w-full pl-48 pb-44 max-w-screen-xl mx-auto px-8 xl:px-16">
    <h2 class="text-8xl pb-6">COMPETENCIES</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 pt-60">
      <div class="lg:col-span-2 flex flex-col md:flex-row gap-8 lg:order-2">
        <div class="skills-box text-l flex-1 pr-5">
          <h3 class="text-xl font-semibold mb-4">TECHNICAL COMPETENCIES</h3>
          <p class="text-l pb-8">I use Figma and Adobe tools with HTML, CSS, and JavaScript to turn design ideas into responsive, interactive websites. This blend of skills helps me create engaging, functional web experiences.</p>

          <ul class="list-disc pl-5 grid grid-cols-2 gap-2">
            <li>Figma</li>
            <li>Adobe Photoshop</li>
            <li>Adobe InDesign</li>
            <li>Adobe Illustrator</li>
            <li>Adobe Premiere Pro</li>
            <li>HTML, CSS, JavaScript</li>
            <li>Microsoft Office</li>
            <li>Responsive websites</li>
          </ul>
        </div>
        <div class="design-box text-l flex-1 pl-24">
          <h3 class="text-xl font-semibold mb-4">DESIGN COMPETENCIES</h3>
          <p class="text-l pb-8 pr-7">I create wireframes, mockups, and responsive designs. My design competencies include research, UI patterns, usertesting, and developing styletiles and designsystems.</p>
          <ul class="list-disc pl-5 grid grid-cols-2 gap-2">
            <li>Design research</li>
            <li>UI patterns research</li>
            <li>User research</li>
            <li>Usertesting</li>
            <li>Wireframe & Mock Ups</li>
            <li>Styletiles</li>
            <li>Designsystems</li>
            <li>Responsive design</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="work" class="w-full px-8 xl:px-16 mx-auto max-w-screen-xl pt-16 pb-44 lg:pt-24">
    <h2 class="text-8xl pb-44">WORK</h2>
    <div class="space-y-12">
      <!-- Text Block 1 -->
      <div class="relative group">
        <a href="link-to-your-page1.html" class="text-2xl font-medium block hover:underline"> GIRLTALK </a>
        <div class="text-l">
          <p>tekst</p>
        </div>
        <div class="border-b border-gray-300 pb-1"></div>
        <div class="absolute top-1/2 right-0 transform -translate-y-1/2 translate-x-8 opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform scale-150 rotate-6">
          <img src="public/mig.jpg" alt="Image 1" class="w-80 h-80 object-cover" />
        </div>
      </div>

      <!-- Text Block 2 -->
      <div class="relative group">
        <a href="https://startling-entremet-207b3c.netlify.app/" class="text-2xl font-medium block hover:underline" target="_blank" rel="noopener noreferrer"> DIGITAL CLEANUP DAY </a>
        <div class="text-l">
          <p>Tekst</p>
        </div>
        <div class="border-b border-gray-300 pb-1 mb-1"></div>
        <div class="absolute top-1/2 right-0 transform -translate-y-1/2 translate-x-8 opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform scale-150 rotate-6">
          <img src="public/mig.jpg" alt="Image 2" class="w-80 h-80 object-cover" />
        </div>
      </div>

      <!-- Text Block 3 -->
      <div class="relative group">
        <a href="link-to-your-page3.html" class="text-2xl font-medium block hover:underline">BALCOMBE</a>
        <div class="text-l">
          <p>tekst</p>
        </div>
        <div class="border-b border-gray-300 pb-1 mb-1"></div>
        <div class="absolute top-1/2 right-0 transform -translate-y-1/2 translate-x-8 opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform scale-150 rotate-6">
          <img src="public/mig.jpg" alt="Image 3" class="w-80 h-80 object-cover" />
        </div>
      </div>

      <!-- Text Block 4 -->
      <div class="relative group">
        <a href="link-to-your-page4.html" class="text-2xl font-medium block hover:underline">ANIMATION GAME</a>
        <div class="text-l">
          <p>tekst</p>
        </div>
        <div class="border-b border-gray-300 pb-1 mb-1"></div>
        <div class="absolute top-1/2 right-0 transform -translate-y-1/2 translate-x-8 opacity-0 group-hover:opacity-100 transition-opacity duration-300 transform scale-150 rotate-6">
          <img src="public/mig.jpg" alt="Image 4" class="w-80 h-80 object-cover" />
        </div>
      </div>
    </div>
  </section>

  <!-- SEKTION 4 - CONTACT -->
  <section id="contact-section" class="relative overflow-hidden flex flex-col md:flex-row gap-8 pb-44 pt-16 pl-44">
    <!-- Text Container -->
    <div class="flex flex-col gap-4 text-center md:text-left">
      <h2 class="text-8xl">CONTACT</h2>
      <div class="max-w-xl">
        <p class="text-l pb-4">I love being part of the <b>creative</b> process right from the beginning, where I can contribute ideas and turn them into effective solutions. I am <b>social</b>, dedicated, and approach tasks with enthusiasm. I thrive in team environments, contribute to a <b>positive</b> atmosphere, and take pride in seeing projects through to completion. <br /> <br />I would <b>love</b> to bring my skills and <b>energy</b> to your team. I can't wait to hear from you. Thanks you for your time!</p>
      </div>
      <p class="text-2xl font-semibold">Contact information:</p>
      <p class="text-l">Mobile: +45 6043 8377</p>
      <p class="text-l">E-mail: Mariara@live.dk</p>
      <a href="https://www.linkedin.com/in/yourlinkedinprofile" target="_blank" class="text-l text-black hover:underline">LinkedIn</a>
    </div>

    <!-- SVG Container -->
    <div class="absolute w-[800px] h-[800px] overflow-hidden getintouchanimation">
      <svg id="unique-svg" viewBox="0 0 800 800" class="w-full h-full">
        <defs>
          <path id="circle-path" d="M 400,400 m -300,0 a 300,300 0 1,1 600,0 a 300,300 0 1,1 -600,0"></path>
        </defs>
        <text>
          <textPath href="#circle-path" startOffset="50%"> GET IN TOUCH • GET IN TOUCH • GET IN TOUCH •</textPath>
        </text>
      </svg>
    </div>
  </section>

  <style>
    .getintouchanimation {
      bottom: -rem;
      right: -12rem;
    }

    #unique-svg {
      width: 100%;
      height: 100%;
      animation: rotate 30s linear infinite; /* Roterer SVG elementet */

      z-index: 10;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    #unique-svg text {
      font-size: 79px; /* Juster størrelsen af teksten som ønsket */
      fill: #ed1539;
      text-anchor: middle;
    }

    .card-container {
      position: relative;
      overflow: hidden;
    }

    .card-container .initial-text,
    .card-container .hover-text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center; /* Centrerer tekst vertikalt */
      justify-content: center; /* Centrerer tekst horisontalt */
      padding: 10px;
      box-sizing: border-box;
      transition:
        opacity 0.3s ease,
        background-color 0.3s ease;
      z-index: 10;
    }

    .card-container .initial-text {
      background-color: transparent;
      opacity: 1;
    }

    .card-container .hover-text {
      background-color: lightgray;
      opacity: 0;
      align-items: flex-start; /* Starter teksten fra toppen ved hover */
      padding-top: 10px; /* Tilføj eventuelt lidt top-padding for plads */
      z-index: 20;
    }

    .card-container:hover .initial-text {
      opacity: 0;
    }

    .card-container:hover .hover-text {
      opacity: 1;
    }
  </style>

  <script>
    document.querySelector('a[href="#competencies"]').addEventListener("click", function (e) {
      e.preventDefault();
      document.querySelector("#competencies").scrollIntoView({ behavior: "smooth" });
    });

    document.querySelectorAll(".text-block").forEach((block) => {
      block.addEventListener("click", function () {
        const imageUrl = this.getAttribute("data-image");
        document.getElementById("popup-image").src = imageUrl;
        document.getElementById("image-popup").classList.remove("hidden");
      });
    });

    document.getElementById("image-popup").addEventListener("click", function () {
      this.classList.add("hidden");
    });
  </script>
</MainLayout>
