---
import Link from "../components/Link.astro";
import Link from "../components/Link.astro";
---

<div x-data="{ showmenu: false }" class="fixed static w-full lg:pt-11 lg:px-14">
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo" class="text-3xl lg:text-2xl">
      <a href="/">MARIA ROSE - Digital Designer</a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-6 text-xl">
        <li><a href="/"></a>ABOUT</li>
        <li><a href="#competencies">COMPETENCIES</a></li>
        <li><a href="#work">WORK</a></li>
        <li><a href="#contact-section">CONTACT</a></li>
      </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden flex flex-col justify-center items-center w-10 h-10 z-50 pr-10 mt-10" x-on:click="showmenu = !showmenu">
      <!-- Show burger lines if menu is closed -->
      <span :class="{ 'rotate-45 translate-y-2': showmenu }" class="block w-20 h-0.5 bg-black mb-2 transition-all duration-300"></span>
      <span :class="{ 'opacity-0': showmenu }" class="block w-20 h-0.5 bg-black mb-2 transition-all duration-300"></span>
      <span :class="{ '-rotate-45 -translate-y-2': showmenu }" class="block w-20 h-0.5 bg-black transition-all duration-300"></span>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center lg:pt-0" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="">
      <!-- Tilføj padding her -->
      <li class="text-center py-2 border-y-2"><Link href="/">ABOUT</Link></li>
      <li class="text-center py-2 border-b-2"><Link href="#competencies">COMPETENCIES</Link></li>
      <li class="text-center py-2 border-b-2"><Link href="#work">WORK</Link></li>
      <li class="text-center py-2 border-b-2"><Link href="#contact-section">CONTACT</Link></li>
    </ul>
  </nav>
</div>
